@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    src: local(""), url("../fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Nasalization;
    font-style: sans-serif;
    src: local(""), url("../fonts/nasalization-rg.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: var(--font-primary);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--body-text-color);
}

a {
  color: var(--body-text-color);
}
