{{!< default}}

<main class="site-main">

    <section class="post-feed gh-feed gh-canvas">

        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </section>

    {{pagination}}

</main>