{{!< default}}

<main class="site-main">

    <section class="post-feed gh-feed gh-canvas">
        <h2 class="post-feed-title">Recent posts</h2>

        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </section>

    {{pagination}}

</main>