:root {
    --ves-global-color-light: #edf8fe;
    --ves-global-color-moonrock: #c1e1f3;
    --ves-global-color-ice: #76b7d1;
    --ves-global-color-enceladus: #2ad8f0;
    --ves-global-color-cerulean: #23c0ff;
    --ves-global-color-celestial: #015881;
    --ves-global-color-kyanite: #004460;
    --ves-global-color-dusk: #011e30;
    --ves-global-color-midnight: #011119;
    --ves-global-color-cydonia: #ffce84;
    --ves-global-color-aurora: #44e1bb;
    --ves-global-color-gliese: #e35490;
}
