.home-template {
    header {
        text-align: center;
    }

    .svg-frame {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-box {
        padding: 48px;
        border: 1px solid #005375;
        background: linear-gradient(rgba(0, 153, 219, 0.05), rgba(5, 35, 52, 0.2));
        backdrop-filter: blur(10px);
    }

    .post {
        display: flex;
        align-items: center;
        column-gap: 32px;
        border-bottom: 1px solid #285F7D;
        padding: 0 16px;

        &:first-of-type {
            border-top: 1px solid #285F7D
        }
    }

    .post__tags {
        margin-left: auto;
    }
}