:root {
    --feed-bg: linear-gradient(to bottom, rgba(0, 153, 219, 0.05), rgba(4, 29, 42, 0.8));
    --feed-divider-color: var(--ves-border-color);
}

.post-feed {
    background: rgb(2 21 32 / 50%);
    border: 1px solid var(--feed-divider-color);
    padding: 48px 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    border-radius: 6px;
}

.post-feed-title {
    margin-bottom: 2rem;
}

.feed {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;
    line-height: 1;
    border-top: 1px solid var(--feed-divider-color);
    gap: 16px;
}

.feed:last-child {
    border-bottom: 1px solid var(--feed-divider-color);
}

.feed:hover {
    background: #004460;
    border-color: #00aaf0;
}

.feed:hover + .feed {
    border-top-color: #00aaf0;
}

.feed-calendar {
    display: flex;
    min-width: 45px;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--brand-color);
    white-space: nowrap;
    flex: 0 0 110px;
}

.feed-calendar-month {
    margin-right: 0.4rem;
    text-transform: uppercase;
}

.feed-title {
    flex-grow: 1;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.3;
    text-overflow: ellipsis;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: var(--font-secondary);
    text-transform: none;
}

.feed-right {
    display: flex;
    align-items: center;
    transition: margin 0.2s var(--animation-base);
}

.icon-star {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
    color: var(--orange-color);
}

.public .icon-star {
    display: none;
}

.feed-length {
    font-size: 1.4rem;
    color: var(--secondary-text-color);
    white-space: nowrap;
}

.feed-icon {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    color: var(--secondary-text-color);
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

@media (max-width: 720px) {
    .feed {
        flex-direction: column;
        align-items: flex-start;
    }

    .feed-calendar {
        flex-basis: auto;
    }

    .feed-title {
        text-overflow: initial;
        white-space: initial;
        overflow: initial;
    }

    .feed-right {
        display: none;
    }
}
