:root {
    --feed-bg: linear-gradient(to bottom, rgba(0, 153, 219, 0.05), rgba(4, 29, 42, 0.8));
    --feed-divider-color: var(--ves-border-color);
}

.post-feed {
    margin-top: 48px;
    background: rgb(2 21 32 / 50%);
    border: 1px solid var(--feed-divider-color);
    padding: 48px 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    border-radius: var(--ves-border-radius);
}

.post-feed-title {
    margin-bottom: 2rem;
}

.feed {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    overflow: hidden;
    line-height: 1;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--feed-divider-color);
    gap: 24px;
    transition: background-color, border-color 100ms ease-in-out;
    
    &:first-child {
        border-top: 1px solid var(--feed-divider-color);
    }

    &:hover {
        background-color: var(--ves-global-color-celestial);
        border-color: var(--ves-global-color-cerulean);
    }

    &:active {
        background-color: var(--ves-global-color-kyanite);
    }
}

.feed-calendar {
    display: flex;
    color: var(--brand-color);
    white-space: nowrap;
    flex: 0 0 auto;
    margin-top: 5px;
}

.feed-calendar-month {
    margin-right: 0.4rem;
    text-transform: uppercase;
}

.feed-title {
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: .2em;
    text-transform: none;
}

.feed-right {
    display: flex;
    align-items: center;
    transition: margin 0.2s var(--animation-base);
}

.icon-star {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
    color: var(--orange-color);
}

.public .icon-star {
    display: none;
}

.feed-length {
    font-size: 1.4rem;
    color: var(--secondary-text-color);
    white-space: nowrap;
}

.feed-icon {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    color: var(--secondary-text-color);
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

@media (max-width: 720px) {
    .feed {
        flex-direction: column;
        align-items: flex-start;
    }

    .feed-calendar {
        flex-basis: auto;
    }

    .feed-title {
        text-overflow: initial;
        white-space: initial;
        overflow: initial;
    }

    .feed-right {
        display: none;
    }
}
