// Type scale: 1.2
$font-size-xl3: 2.488rem;
$font-size-xl2: 2.074rem;
$font-size-xl1: 1.728rem;
$font-size-l2: 1.44rem;
$font-size-l1: 1.2rem;
$font-size-m: 1rem;
$font-size-s1: 0.833rem;
$font-size-s2: 0.694rem;
$font-size-s3: 0.579rem;